@import '../profesor/profesor.css';

.apoderado-theme {
  --warning-yellow: #20c997;
}

.apoderado-theme .brand-icon {
  background-color: #20c997;
}

.apoderado-theme .stat-icon svg {
  width: 26px !important;
  height: 26px !important;
  min-width: 26px !important;
}
